.training__title {
  grid-area: title;
  margin-bottom: 50px;

}

@media screen and (max-width: 767px) {

  .training__title {
    padding-top: 36px;
    margin-bottom: 40px;
    border-top: 1px solid #e3e3e3;
  }

}
